@charset "UTF-8";

@media screen and (min-width: 900px){
    body{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    main{
        background-color: white;
        width: 45vw;
        height: 55vh;
        border-radius: 3rem;
        display: flex;
        flex-flow: row nowrap;
    }

    .result{
        width: 50%;
        height: 100%;
        border-radius: 3rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
    }

    .result h1{
        font-size: 3rem;
    }

    .circle p{
        color: var(--White);
        font-size: 6rem;
        font-weight: 800;
    }

    .info{
        background-color: white;
        border-radius: 3rem;
        width: 50%;
        padding: 3rem;
        gap: 3rem;
    }

    .info h2{
        color: hsl(224, 30%, 27%);
    }

    .category{
        height: 5rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .memory{
        height: 5rem;
        margin-left: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .verbal{
        height: 5rem;
        margin-left: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .visual{
        height: 5rem;
        margin-left: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}